<!DOCTYPE html>
<!--  main-fragment (title, otherStaticResources, header, nav, mainContent, footer)  -->
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layouts/main-layout :: main-fragment(
                                                ~{::title},
                                                ~{:: #products-static-resources},
                                                ~{:: #products-header},
                                                ~{:: #products-nav},
                                                ~{:: #products-main-content},
                                                ~{:: #products-footer}
                                               )}">

<head>
    <title>1950 Federal Census</title>
    <th:block id="products-static-resources">
        <script type="text/javascript" src="../static/products.js" th:src="@{/products.js}"></script>
    </th:block>
</head>
<body>
<div id="products-header">
    1950 Federal Census
</div>
<div id="products-nav" th:replace="~{/fragments/app-fragments :: nav-default}">
    Nav
</div>
<div id="products-main-content">
    <a href="https://www.archives.gov/research/census/1950/questions-asked">1950 Questions</a>

 </div>

</body>
</html>